<!DOCTYPE html>
<html ng-app="ShMusicApp" lang="en">
    <head>

        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <link rel="icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css"/>

    </head>

    <body ng-controller="MainCtrl" class="container" style="margin-top:25px">

        {%raw%}
            <sound-manager></sound-manager>
            <div class="row">
                <div class="col-md-9">
                    <ul class="list-group">
                        <li  class="list-group-item">
                            <button ng-click="go('/')" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                            <button ng-click="go('..')" class="btn btn-sm btn-default">
                                <i class="fa fa-arrow-left"></i>
                            </button>
                            <button ng-if="folderSongs.length" class="btn btn-sm btn-default" play-all="folderSongs" data-play="false">
                                <i class="fa fa-plus-square"></i> Add all
                            </button>
                            <button ng-if="folderSongs.length" class="btn btn-sm btn-default" play-all="folderSongs">
                                <i class="fa fa-play"></i> Play all
                            </button>
                        </li>
                        <li ng-click="go(folder)" class="list-group-item" ng-repeat="folder in folders">
                            <a>{{folder}}</a>
                        </li>

                        <li class="list-group-item" ng-repeat="song in folderSongs">
                            <button class="btn btn-sm btn-default" music-player="play" add-song="song"><i class="fa fa-play"></i></button>
                            <button class="btn btn-sm btn-default" music-player add-song="song"><i class="fa fa-plus-circle"></i></button>
                            <button class="btn btn-sm btn-default"><a ng-href="{{song.url}}" download><i class="fa fa-download"></i></a></button>
                            {{song.title}}
                        </li>
                    </ul>
                </div>
                <!--Player-->
                <div class="col-md-3 well text-center">
                    <div class="row">
                        <p>Playlist</p>

                        <button class="btn btn-primary btn-sm" play-music>
                            <i class="fa fa-play"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" pause-music>
                            <i class="fa fa-pause"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" stop-music>
                            <i class="fa fa-stop"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" prev-track>
                            <i class="fa fa-step-backward"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" next-track>
                            <i class="fa fa-step-forward"></i>
                        </button>
                        <button class="btn btn-primary btn-sm" clear-playlist>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>

                    <div class="row" style="margin-top:10px" ng-if="currentPlaying">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
                                {{ currentPostion }}&nbsp;/&nbsp;{{ currentDuration }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <ul class="list-group" ng-repeat="song in playlist">
                            <li play-from-playlist="song" class="list-group-item" ng-class="{'list-group-item-success': currentPlaying.id == song.id}">{{ song.title }}</li>
                        </ul>

                </div>

            </div>
        {%endraw%}
        <!-- Js application load -->
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/app.js"></script>
        <script type="text/javascript" src="/static/bower_components/angular-soundmanager3/dist/angular-soundmanager3.min.js"></script>

    </body>
</html>
